/*!*******************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[5].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[5].oneOf[12].use[3]!./app/sections/sliderAnimationCSS.css ***!
  \*******************************************************************************************************************************************************************************************************************************************************************************/
@keyframes slide {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%)
    }
}
* {
    /* box-sizing: border-box; */
}
.t{
    overflow: hidden;
}

.ts{
    display: inline-flex;
    overflow: hidden;
}
.logo-slide {
    animation: 25s slide infinite linear;
    /* display: inline-block; */
}
